<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
<body>
  <div class="boxmessage">
    404 ERROR : PAGE NOT FOUND
  </div>
  <br>
  <br>
  <div>
    <a class="button button-primary" href="/">Home</a>
  </div>
  <footer>
    HTTP 404 Not Found
  </footer>
</body>
</html>
